NEXT_PUBLIC_SITE_URL=https://www.baray.ir
WORDPRESS_API_URL=https://www.baray.ir/wp-json/wp/v2
WORDPRESS_POST_LIMIT=100
# اختیاری: پس از انتقال پنل، مقدار بالا را به https://cms.baray.ir/wp-json/wp/v2 تغییر دهید.
